.header {
    grid-area: aside;
    align-items: center;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 10px 10px #0002;
  }
  
  .asideicon {
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
  }
  
  .active {
    display: flex;
    color: #aaa;
    align-items: center;
    padding-left: 10px;
    text-decoration: none;
  }