.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px 40px;
  }
  
.mainheader {
    grid-column: span 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.team {
    border: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .column {
    background-color: white;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    gap: 20px;
  }
  
  .cardList {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .card {
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
  }