.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: #fff;
    box-shadow: 0px 10px 10px #0002;
  }

  .logo {
    border: #1a1818;
  }
  
  input {
    width: 300px;
    line-height: 30px;
    border-radius: 30px;
    border: 1px solid;
    border-color: grey; 
  }
  
  input::placeholder {
    color: grey;
    font-size: 10px;
  }
  
  .active {
    color: grey;
    text-decoration: none;
  }
  
  .rightside {
    display: flex;
    align-items: center;
    gap: 20px;
  }